@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../font/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}