@media (max-width: 992px) {
    .container {
        padding: 0 50px;
    }
.description {
    &-info {
        width: 100%;
    }

    &-cards {
        width: 100%;
    }
}
    .costs {
        .description-card {
            min-width: 120px !important;
        }
    }

    .information {
        display: none;
    }
   
    .route {
        .owl-carousel .owl-stage-outer {
            width: 1000px !important;
        }
        .owl-theme .owl-dots, .owl-theme .owl-nav {
            margin-left: 100px;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 150px;
        }
    }
    // End route

    
    .reviews {
        margin: 60px auto 150px auto;
        overflow-x: hidden;

        &-item {
            padding: 20px 15px 20px 30px;
            &__text {
                font-size: 12px;
            }
        }

        &-carousel {
            margin-top: 90px;
        }
        .review-photo {
            min-width: 165px;
            min-height: 165px;
            margin-right: 20px;
        }
        
        .owl-theme .owl-dots .owl-dot span {
            width: 180px;
        }
    }
    // End reviews
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0;
        display: none;
      }
    .container {
        padding: 0 70px;
    }
    
    .header {
        height: 100vh;
        .desctop_menu {
            display: none;
        }
        .nav {
            .menu_burger {
                display: block;
            }
        }
        &-item {
            &__title {
                font-size: 36px;
            }
        }
    }
    // End header

    
    .description {
        &-info {
            width: 100%;
        }
        .tab_card {
            margin-top: 75px;
        }
    }
    .costs {
        .tab_card {
            margin-bottom: 70px !important;
        }
    }
    .gallery {
        &-imgs {
            margin: 90px auto;
            max-width: 1350px;
        }
        &-left {
            width: 48.5%;
        }
        &-middle {
            width: 48.5%;
        }
    }
    // End gallery
    

    .tab_hidden {
        display: none;
    }
    .big-photo {
        &-item {
            width: 100%;
            height: 95%;
        }
    }

    .reviews {
        .owl-theme .owl-dots .owl-dot span {
            width: 120px;
        }
    }
    .book-trip {
        height: 640px;
        position: relative;
    
        &-photo {
            width: 40%;
            height: 640px;
            border-top-right-radius: 10px;
            overflow: hidden;
    
            &__png {
                border-top-right-radius: 10px;
                transition: .5s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .form {
            .title__text {
                margin-bottom: 90px;
            }
            &__label {
                width: 100%;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin-top: 20px;
                position: relative;
                
                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 25px;
                    cursor: pointer;
                }
            }
            .error {
                position: absolute;
                bottom: -20px;
                left: 5px;
                font-size: 14px;
                font-weight: 500;
                color: tomato;
            }
            &__inp {
                width: 100%;
                height: 50px;
                padding: 0 25px;
                background-color: #fff;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
                color: $black;
                border-radius: 10px;
            }
    
            .select {
                width: 100%;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin-top: 20px;
                position: relative;
    
                &-item {
                    width: 100%;
    
                    svg {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 25px;
                    }
                }
                &-lists {
                    width: 100%;
                    max-height: 180px;
                    overflow-y: scroll;
                    position: absolute;
                    top: 35px;
                    left: 0;
                    background-color: #fff;
                    display: none;
                    z-index: 10;
                    padding-top: 15px;
                    
                    &::-webkit-scrollbar {
                        width: 6px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: $gray;
                        border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $yellow; 
                        border-radius: 5px;
                    }
                }
                &-list {
                    padding: 10px 25px;
                    font-size: 14px;
                    font-weight: 500;
                    color: $black;
                    transition: .3s;
    
                    &:last-child {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    cursor: pointer;
                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                }
            }
            &__btn {
                width: 265px;
                height: 50px;
                background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
                border-radius: 60px;
                color: $white;
                font-size: 14px;
                font-weight: 700;
    
                &:hover {
                    color: $white !important;
                }
            }
            .heart {
                background-color: #EDEDED;
            }
        }
    }
    // End form
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
    .title__text {
        font-size: 22px;
    }
    .header {
        .menu-bg {
            &-modal {
                width: 75%;
                padding-right: 25px;
            }
        }
    }
    .description {
        &-cards {
            margin-top: 0;
            justify-content: center;
            text-align: center;
            align-content: center;
        }
    }
    .calendar {
        .container {
            padding: 0;
        }
        &-item {
            padding: 15px 5px;
        }
        &-photo {
            width: 80%;
        }
        &__title {
            text-align: center;
        }
        .fc-title {
            font-size: 8px !important;
        }
    }
    // calendar
    .gallery {
        &-imgs {
            padding: 0 10px;
            margin-bottom: 10px;
        }
        &-left {
            width: 48.5%;
        }
        &-middle {
            width: 48.5%;
            height: 400px;
        }
        &-right-sub {
            flex-direction: column;
            &_l, &_r {
                width: 100%;
                height: 195px;
            }
            &_r {
                margin-top: 10px;
            }
        }
        &-mob {
            padding: 0 10px;
        }
        &-mob-sub {
            height: 260px;
        }
    }
    // End gallery
    .mob_hidden {
        display: none;
    }
    
    .book-trip {
        height: auto;
        flex-direction: column;
        padding-bottom: 50px;
    
        &-photo {
            position: relative;
            width: 100%;
            height: 450px;
        }
        .form {
            .title__text {
               margin: 50px 0;
               text-align: center;
            }
            &__btn {
                width: 80%;
            }

            &-button {
                justify-content: space-between;
            }
        }
    }
    // End form

        
    .route {
        .owl-theme .owl-dots .owl-dot span {
            width: 110px;
        }
    }
    // End route

    
    .reviews {
        margin: 60px auto 150px auto;
        overflow-x: hidden;

        &-item {
            padding: 20px 15px 20px 30px;
            flex-direction: column;
            &__text {
                font-size: 12px;
            }
        }

        &-carousel {
            margin-top: 90px;
        }
        .review-photo {
            min-width: 80px;
            min-height: 80px;
            margin-right: 0px;
            margin-bottom: 20px;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 70px;
        }
    }
    // End reviews

    

    .footer { 
        &-list {
                font-size: 12px;
            &__link {
                font-size: 12px;
            }
        }&__email {
            font-size: 12px;
        }
        .mobile_show {
            display: flex;
        }
    }
}

@media (max-width: 375px) {
    .header {
        &-item {
            &__sub {
                font-size: 22px;
            }
            &__title {
                font-size: 30px;
            }
            &__btn {
                width: 250px;
            }
        }
        .menu-bg {
            &-modal {
                width: 100%;
            }
        }
    }
    // End header
    .calendar {
        .fc-title {
            font-size: 6px !important;
        }
    }
    
    
    .route {
        .owl-theme .owl-dots, .owl-theme .owl-nav {
            margin-left: 100px;
        }
        .owl-theme .owl-dots .owl-dot span {
            width: 80px;
        }
    }
    // End route

    .reviews {
        .owl-theme .owl-dots .owl-dot span {
            width: 50px;
        }
    }
}