@media (max-width: 992px) {
.description {
    &-info {
        width: 100%;
    }

    &-cards {
        width: 100%;
    }
}
    .costs {
        .description-card {
            min-width: 120px !important;
        }
    }

    .information {
        display: none;
    }
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0;
        display: none;
      }
    .container {
        padding: 0 70px;
    }
    
    .header {
        height: 100vh;
        .nav-item {
            visibility: hidden;
        }
        .nav {
            .menu_burger {
                display: block;
            }
        }
        &-item {
            &__title {
                font-size: 36px;
            }
        }
    }
    // End header

    
    .description {
        &-info {
            width: 100%;
        }
        .tab_card {
            margin-top: 75px;
        }
    }
    .costs {
        .tab_card {
            margin-bottom: 70px !important;
        }
    }
    .gallery {
        &-imgs {
            margin: 90px auto;
            max-width: 1350px;
        }
        &-left {
            width: 48.5%;
        }
        &-middle {
            width: 48.5%;
        }
    }
    // End gallery
    

    .tab_hidden {
        display: none;
    }
    .mobile_show {
        display: flex;;
    }
    .big-photo {
        &-item {
            width: 100%;
            height: 95%;
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }
    .title__text {
        font-size: 22px;
    }
    .header {
        .menu-bg {
            &-modal {
                width: 75%;
                padding-right: 25px;
            }
        }
    }
    .description {
        &-cards {
            margin-top: 0;
            justify-content: center;
            text-align: center;
            align-content: center;
        }
    }
    .calendar {
        .container {
            padding: 0;
        }
        &-item {
            padding: 15px 5px;
        }
        &-photo {
            width: 80%;
        }
        &__title {
            text-align: center;
        }
        .fc-title {
            font-size: 8px !important;
        }
    }
    // calendar
    .gallery {
        &-imgs {
            padding: 0 10px;
            margin-bottom: 10px;
        }
        &-left {
            width: 48.5%;
        }
        &-middle {
            width: 48.5%;
            height: 400px;
        }
        &-right-sub {
            flex-direction: column;
            &_l, &_r {
                width: 100%;
                height: 195px;
            }
            &_r {
                margin-top: 10px;
            }
        }
        &-mob {
            padding: 0 10px;
        }
        &-mob-sub {
            height: 260px;
        }
    }
    // End gallery
    .mob_hidden {
        display: none;
    }
    .form {
        margin-top: 100px;
        &-photo {
            width: 100%;
            height: 340px;
            border-radius: 0!important;
        }
    }

    .footer {
        
    &-list {
            font-size: 12px;
        &__link {
            font-size: 12px;
        }
    }&__email {
        font-size: 12px;
    }
    }
}

@media (max-width: 360px) {
    .header {
        &-item {
            &__sub {
                font-size: 22px;
            }
            &__title {
                font-size: 30px;
            }
            &__btn {
                width: 250px;
            }
        }
        .menu-bg {
            &-modal {
                width: 100%;
            }
        }
    }
    // End header
    .calendar {
        .fc-title {
            font-size: 6px !important;
        }
    }
}