@import './font';
@import './color';

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

input,textarea,button {
    border: none;
    outline: none;
}
input:focus,textarea:focus,button:focus {
    border: none;
    outline: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1120px !important;
    margin: 0 auto;
}

section {
    max-width: 1800px;
    margin: 0 auto;
}

.title__text {
    font-size: 24px;
    font-weight: 700;
    color: $blue;
}
.openAll {
    background: transparent;
    color: $black;
    &__text {
        font-weight: 500;
        font-size: 12px;
        border-bottom: 2px solid $black;
    }
}

.header {
    height: 670px;
    background-image: url('../../img/png/bg-img.png');
    background-size: cover;

    .nav {
        &-list__link {
            font-size: 14px;
            color: $white;
            font-weight: 500;

            &:hover {
                color: $yellow;
            }
        }
        
        .menu_burger {
            z-index: 10;
            display: none;

            &_list {
                width: 40px;
                height: 4px;
                background-color: #fff;
                border-radius: 5px;
                transition: 0.5s;
                }
        }
        #burger_list1 {
            transform: translateY(-4px);
        }
        
        #burger_list3 {
            transform: translateY(4px);
        }
        
        .change .menu_burger_list {
            background-color: red;
        }
        
        .change #burger_list1 {
            transform: translateY(4px) rotate(-45deg);
        }
        
        .change #burger_list3 {
            transform: translateY(-2px) rotate(45deg);
        }
        
        .change #burger_list2 {
            opacity: 0;
        }
    }
    .menu-bg {
        background-color: #0007;
        z-index: 5;
        visibility: hidden;

        &-modal {
            right: -500px;
            width: 50%;
            background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
            padding: 150px 50px;
            transition: .3s;
            
            .menu-list {
                margin-bottom: 25px;

                &__link {
                    color: $white;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
        .showModal {
            right: 0;
        }
    }
    .showMenu {
        visibility: visible;
    }

    &-item {
        &__sub {
            color: $yellow;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
        }
        &__title {
            font-size: 48px;
            font-weight: 700;
            margin-top: 15px;
        }
        &__btn {
            width: 270px;
            height: 50px;
            background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
            border-radius: 60px;
            color: $white !important;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                color: $w !important;
            }
        }
    }
}

    .heart {
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        background-color: rgba(153, 135, 144, 0.37);
        cursor: pointer;
        margin-left: 15px;
    }
    .addLike .heart-path{
        stroke: red;
    }
    .addLike svg{
        fill: red;
        animation: animLike .3s linear;
    }
    @keyframes animLike {
        from {
            width: 30px;
            height: 26px;
        }
        to {
            width: 45px;
            height: 35px;
        }
    }
// End header

.description {
    margin: 150px auto;
    background-color: #fff;
    &-info {
        width: 35%;

        &__title {
            font-size: 24px;
            font-weight: 700;
            color: $blue;
        }
        &__text {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            margin-top: 40px;
        }
    }
    &-card {
        width: 180px;
        height: 100px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

        .circle {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            background-color: $yellow;
            position: absolute;
            top: -17px;
            left: -17px;
        }
        .filter {
            display: none;
            width: 100%;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            display: flex;
            border-radius: 10px;
        }
        &-title {
            position: relative;
        }
        &__text {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            position: relative;
            z-index: 20;
        }
        
        .price__text {
            font-size: 24px;
            font-weight: 700;
            color: $blue;
        }
    }
}
// End description

.calendar {
    overflow-x: hidden;
    height: 877px;
    &-photo {
        width: 60%;
        height: 100%;
        overflow: hidden;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        &__png {
            object-fit: cover;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: .5s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    &__title {
        position: relative;
        z-index: 10;
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 70px;
        text-align: right;

        span {
            background-color: #fff;
            padding: 2px 10px;
        }
    }
    &-item {
        background-color: $gray;
        position: relative;
        z-index: 5;
        padding: 30px 15px;
        border-radius: 10px;
    }
    table {
        border-collapse: collapse !important;
    }
    td {
        text-align: center;
        height: 100%;
        position: relative;
        width: 20px !important;
        height: 20px !important;
        padding: 0;
        margin: 0;
    }
    .fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
        border: none;

    }
    .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: none;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        // transform: translate(-50%, -50%);
    }
    .fc-day-grid-event {
        top: 0px;
        background: transparent;
        color: $blue;
        border: none;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .fc-title {
        font-size: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }
    .fc-scroller {
        height: auto !important;
        overflow: visible !important;
    }
    .fc-dayGridMonth-button,
    .fc-timeGridDay-button,
    .fc-listWeek-button,
    .fc-today-button,
    .fc-timeGridWeek-button {
        display: none !important;
    }
    .fc-header-toolbar {
        position: relative;
    }
    .fc-button-group {
        position: static;
    }
    .fc-button-group button {
        position: absolute;
        color: $blue;
        background: transparent;
        outline: none !important;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        border: none !important;
        top: -5px;
        border: transparent;
    }
    .fc-button-group button span{
        font-size: 35px;
        font-weight: 500;
    }
    .fc-next-button {
        right: 0 !important;
    }
    .fc-center h2 {
        color: $blue;
        font-size: 24px;
        font-weight: 700;
        // text-transform: capitalize;
    }
    .fc-header-toolbar {
        margin-bottom: 50px;
    }
    .fc-head  {
        height: 50px;
    }
    .fc-dayGrid-view .fc-body .fc-row {
        min-height: auto;
    }
    .fc-widget-content {
        height: 40px !important;
    }
}
// End calendar

.route {
    margin: 200px auto 150px auto;
    position: relative;
    overflow-x: hidden;
    .title__text {
        margin-bottom: 80px;
    }
    &__item-text {
        margin: 40px 0;
        font-size: 14px;
        font-weight: 700;
        color: $black;
        margin-left: 38px;
    }

    &__list {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        color: $black;
        display: flex;
        align-items: flex-start;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            display: block;
            min-width: 12px;
            min-height: 12px;
            border-radius: 50%;
            background-color: $yellow;
            margin-right: 25px;
        }
    }
    .carousel {
        .owl-item {
            border-radius: 20px;
            max-height: 500px !important;
            position: relative;

            .carousel__img {
                border-radius: 10px;
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            .item__text {
                position: absolute;
                bottom: 20px;
                left: 20px;
                color: $yellow;
                z-index: 5;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    .owl-carousel .owl-stage-outer {
        max-height: 500px;
        width: 550px !important;
        overflow-y: hidden;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 140px;
    }
    
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    display: flex;
    margin-left: 100px;
}
.owl-theme .owl-dots .owl-dot span {
    height: 4px;
    margin: 0;
    border-radius: 0;
}
.active span{
    background-color: $blue !important;
}
.owl-dot span:hover {
    background-color: $blue !important;
}
.owl-prev, .owl-next {
    position: absolute;
    bottom: -45px;

}
.owl-theme .owl-nav [class*=owl-] {
    margin: 0;
}
.owl-theme .owl-nav {
    margin-top: 40px;
}
.owl-prev {
    left: 0;
}
.owl-next {
    left: 50px;
}
.owl-next span, .owl-nav span {
    font-size: 70px;
    font-weight: 100;
}
.owl-next span:hover {
    background: transparent;
}
button:hover {
    background-color: transparent !important;
    color: $blue !important;
}
button span:hover {
    background-color: transparent !important;
}
// End route

.costs {
    margin: 100px auto;

    .title__text {
        margin-bottom: 100px;
    }
    .description-card {
        min-width: 180px;
        text-align: center;
    }
    .description-card__text {
        font-size: 13.5px;
        font-weight: 700;
        
    }
}
// End costs

.information {
    margin-bottom: 150px;
    .title__text {
        margin: 50px 0 90px 0;
    }
    &__title {
        font-size: 18px;
        font-weight: 500;
    }
    &-item {
        margin-top: 40px;
    }
    &-item-pass {
        margin-right: 25px;
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $yellow;
            position: absolute;
            z-index: -1;
            top: -15px;
            left: -15px;
        }
    }
    &-item__text {
        font-size: 18px;
        font-weight: 700;
        color: $blue;
    }
    &-item__text-info {
        font-size: 14px;
        font-weight: 500;
        color: $black;
        margin-top: 20px;
    }
    .important {
        width: 100%;
        height: 130px;
        background-color: $gray;
        padding: 40px 25px;
        border-radius: 10px;
        &__text {
            font-size: 14px;
            font-weight: 500;
            width: 90%;
        }
    }
}
// End information

.gallery {
    &-imgs {
        margin: 90px auto;
        max-width: 1300px;
    }
    &-left {
        width: 35.5%;
        overflow: hidden;
        &-sup {
            height: 280px;
        }
        &-sub {
            margin-top: 20px;
            &_l {
                width: 42.5%;
                height: 260px;
            }
            &_r {
                width: 52.5%;
                height: 260px;
            }
            &_r2 {
                width: 100%;
                height: 120px;
            }
        }
    }
    &-middle {
        width: 25%;
        height: 560px;
    }
    &-right-sub_l {
        width: 52.5%;
        height: 260px;
    }
    &-right-sub_r {
        width: 42.5%;
        height: 260px;
    }
    &-item {
        overflow: hidden;
        border-radius: 5px;
    }
    &__img {
        cursor: pointer;
        border-radius: 5px;
        object-fit: cover;
        transition: .5s;

        &:hover {
            transform: scale(1.2);
        }
    }
}
// End gallery

.reviews {
    margin: 60px auto 150px auto;
    overflow-x: hidden;
    padding-bottom: 50px;

    &-item {
        width: 100%;
        height: auto;
        background-color: $gray;
        border-radius: 10px;
        padding: 30px 20px 30px 45px;

        &__title {
            font-size: 14px;
            font-weight: 700;
            color: $black;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            position: relative;
            z-index: 2;
        }
        .quotation-marks {
            max-width: 180px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
    }

    &-carousel {
        margin-top: 90px;
    }
    .review-photo {
        min-width: 245px;
        min-height: 245px;
        border-radius: 10px;
        margin-right: 28px;

        &__png {
            border-radius: 10px;
            object-fit: cover;
        }
    }

    
    .owl-carousel .owl-stage-outer {
        width: 1500px !important;
        overflow-y: hidden;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 250px;
    }
}
// End reviews
.book-trip {
    height: 640px;
    position: relative;

    &-photo {
        position: absolute;
        width: 50%;
        height: 640px;
        border-top-right-radius: 10px;
        overflow: hidden;

        &__png {
            border-top-right-radius: 10px;
            transition: .5s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .form {
        .title__text {
            margin-bottom: 90px;
        }
        &__label {
            width: 100%;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 20px;
            position: relative;
            
            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 25px;
                cursor: pointer;
            }
        }
        .error {
            position: absolute;
            bottom: -20px;
            left: 5px;
            font-size: 14px;
            font-weight: 500;
            color: tomato;
        }
        &__inp {
            width: 100%;
            height: 50px;
            padding: 0 25px;
            background-color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            color: $black;
            border-radius: 10px;
        }

        .select {
            width: 100%;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-top: 20px;
            position: relative;

            &-item {
                width: 100%;

                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 25px;
                }
            }
            &-lists {
                width: 100%;
                max-height: 180px;
                overflow-y: scroll;
                position: absolute;
                top: 35px;
                left: 0;
                background-color: #fff;
                display: none;
                z-index: 10;
                padding-top: 15px;
                
                &::-webkit-scrollbar {
                    width: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: $gray;
                    border-radius: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background: $yellow; 
                    border-radius: 5px;
                }
            }
            &-list {
                padding: 10px 25px;
                font-size: 14px;
                font-weight: 500;
                color: $black;
                transition: .3s;

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
                cursor: pointer;
                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
        &__btn {
            width: 265px;
            height: 50px;
            background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
            border-radius: 60px;
            color: $white;
            font-size: 14px;
            font-weight: 700;

            &:hover {
                color: $white !important;
            }
        }
        .heart {
            background-color: #EDEDED;
        }
    }
}
// End form

.footer {
    background-color: $gray;

    &-list {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover path {
            fill: $yellow;
        }

        &__link, span {
            font-size: 14px;
            font-weight: 500;
            color: $black;
            margin-left: 5px;
            &:hover {
                color: $yellow;
            }
        }
    }&__email {
        font-size: 14px;
        font-weight: 500;
        color: $black;
        cursor: pointer;
        &:hover {
            color: $yellow;
        }
        &:hover path {
            fill: $yellow;
        }
    }
}
.mobile_show {
    display: none;
}
// End footer

.big-photo {
    height: 100vh;
    z-index: 999;
    display: none;
    &-item {
        width: 90%;
        height: 90%;
    }  
    &__img {
        object-fit: contain;
        border-radius: 25px;
        border-radius: 10px;
    }
    .close__photo {
        position: absolute;
        bottom: 20px;
        right: 25px;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: tomato;
        color: #fff;
    }
    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        z-index: -1;
    }
}


@import './media'