@font-face {
  font-family: 'Montserrat';
  src: url("../../font/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input, textarea, button {
  border: none;
  outline: none;
}

input:focus, textarea:focus, button:focus {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1120px !important;
  margin: 0 auto;
}

.title__text {
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
}

.header {
  height: 670px;
  background-image: url("../../img/png/bg-img.png");
  -webkit-background-size: cover;
          background-size: cover;
}

.header .nav-list__link {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.header .nav-list__link:hover {
  color: #FFC700;
}

.header .nav .menu_burger {
  z-index: 10;
  display: none;
}

.header .nav .menu_burger_list {
  width: 40px;
  height: 4px;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .nav #burger_list1 {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

.header .nav #burger_list3 {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.header .nav .change .menu_burger_list {
  background-color: red;
}

.header .nav .change #burger_list1 {
  -webkit-transform: translateY(4px) rotate(-45deg);
      -ms-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

.header .nav .change #burger_list3 {
  -webkit-transform: translateY(-2px) rotate(45deg);
      -ms-transform: translateY(-2px) rotate(45deg);
          transform: translateY(-2px) rotate(45deg);
}

.header .nav .change #burger_list2 {
  opacity: 0;
}

.header .menu-bg {
  background-color: #0007;
  z-index: 5;
  visibility: hidden;
}

.header .menu-bg-modal {
  right: -500px;
  width: 50%;
  background: -webkit-linear-gradient(357.29deg, #0499DD 0%, #17C1BC 100%);
  background: -o-linear-gradient(357.29deg, #0499DD 0%, #17C1BC 100%);
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  padding: 150px 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header .menu-bg-modal .menu-list {
  margin-bottom: 25px;
}

.header .menu-bg-modal .menu-list__link {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.header .menu-bg .showModal {
  right: 0;
}

.header .showMenu {
  visibility: visible;
}

.header-item__sub {
  color: #FFC700;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.header-item__title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 15px;
}

.header-item__btn {
  width: 270px;
  height: 50px;
  background: -webkit-linear-gradient(357.29deg, #0499DD 0%, #17C1BC 100%);
  background: -o-linear-gradient(357.29deg, #0499DD 0%, #17C1BC 100%);
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  -webkit-border-radius: 60px;
          border-radius: 60px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.header-item .heart {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(153, 135, 144, 0.37);
  cursor: pointer;
  margin-left: 15px;
}

.header-item .addLike .heart-path {
  stroke: red;
}

.header-item .addLike svg {
  fill: red;
  -webkit-animation: animLike .3s linear;
          animation: animLike .3s linear;
}

@-webkit-keyframes animLike {
  from {
    width: 30px;
    height: 26px;
  }
  to {
    width: 45px;
    height: 35px;
  }
}

@keyframes animLike {
  from {
    width: 30px;
    height: 26px;
  }
  to {
    width: 45px;
    height: 35px;
  }
}

.description {
  margin: 150px 0;
  background-color: #fff;
}

.description-info {
  width: 35%;
}

.description-info__title {
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
}

.description-info__text {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  margin-top: 40px;
}

.description-card {
  width: 180px;
  height: 100px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.description-card .circle {
  width: 57px;
  height: 57px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #FFC700;
  position: absolute;
  top: -17px;
  left: -17px;
}

.description-card .filter {
  display: none;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.description-card-title {
  position: relative;
}

.description-card__text {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  position: relative;
  z-index: 20;
}

.description-card .price__text {
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
}

.calendar {
  overflow-x: hidden;
  height: 877px;
}

.calendar-photo {
  width: 60%;
  height: 100%;
  overflow: hidden;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
}

.calendar-photo__png {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.calendar-photo__png:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.calendar__title {
  position: relative;
  z-index: 10;
  font-size: 24px;
  font-weight: 700;
  color: #0499DD;
  margin-bottom: 70px;
  text-align: right;
}

.calendar__title span {
  background-color: #fff;
  padding: 2px 10px;
}

.calendar-item {
  background-color: #EDEDED;
  position: relative;
  z-index: 5;
  padding: 30px 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.calendar table {
  border-collapse: collapse !important;
}

.calendar td {
  text-align: center;
  height: 100%;
  position: relative;
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  margin: 0;
}

.calendar .fc-unthemed .fc-content, .calendar .fc-unthemed .fc-divider, .calendar .fc-unthemed .fc-list-heading td, .calendar .fc-unthemed .fc-list-view, .calendar .fc-unthemed .fc-popover, .calendar .fc-unthemed .fc-row, .calendar .fc-unthemed tbody, .calendar .fc-unthemed td, .calendar .fc-unthemed th, .calendar .fc-unthemed thead {
  border: none;
}

.calendar .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: none;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
}

.calendar .fc-day-grid-event {
  top: 0px;
  background: transparent;
  color: #0499DD;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.calendar .fc-title {
  font-size: 10px;
  font-weight: 500;
  word-wrap: break-word;
}

.calendar .fc-scroller {
  height: auto !important;
  overflow: visible !important;
}

.calendar .fc-dayGridMonth-button,
.calendar .fc-timeGridDay-button,
.calendar .fc-listWeek-button,
.calendar .fc-today-button,
.calendar .fc-timeGridWeek-button {
  display: none !important;
}

.calendar .fc-header-toolbar {
  position: relative;
}

.calendar .fc-button-group {
  position: static;
}

.calendar .fc-button-group button {
  position: absolute;
  color: #0499DD;
  background: transparent;
  outline: none !important;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  border: none !important;
  top: -5px;
  border: transparent;
}

.calendar .fc-button-group button span {
  font-size: 35px;
  font-weight: 500;
}

.calendar .fc-next-button {
  right: 0 !important;
}

.calendar .fc-center h2 {
  color: #0499DD;
  font-size: 24px;
  font-weight: 700;
}

.calendar .fc-header-toolbar {
  margin-bottom: 50px;
}

.calendar .fc-head {
  height: 50px;
}

.calendar .fc-dayGrid-view .fc-body .fc-row {
  min-height: auto;
}

.calendar .fc-widget-content {
  height: 40px !important;
}

.costs {
  margin: 100px 0;
}

.costs .title__text {
  margin-bottom: 100px;
}

.costs .description-card {
  min-width: 180px;
  text-align: center;
}

.costs .description-card__text {
  font-size: 13.5px;
  font-weight: 700;
}

.information {
  margin-bottom: 150px;
}

.information .title__text {
  margin: 50px 0 90px 0;
}

.information__title {
  font-size: 18px;
  font-weight: 500;
}

.information-item {
  margin-top: 40px;
}

.information-item-pass {
  margin-right: 25px;
}

.information-item-pass .circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #FFC700;
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
}

.information-item__text {
  font-size: 18px;
  font-weight: 700;
  color: #0499DD;
}

.information-item__text-info {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  margin-top: 20px;
}

.information .important {
  width: 100%;
  height: 130px;
  background-color: #EDEDED;
  padding: 40px 25px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.information .important__text {
  font-size: 14px;
  font-weight: 500;
  width: 90%;
}

.gallery-imgs {
  margin: 90px auto;
  max-width: 1350px;
}

.gallery .openAll {
  background: transparent;
  color: #282828;
}

.gallery .openAll__text {
  font-weight: 500;
  font-size: 12px;
  border-bottom: 2px solid #282828;
}

.gallery-left {
  width: 35.5%;
  overflow: hidden;
}

.gallery-left-sup {
  height: 280px;
}

.gallery-left-sub {
  margin-top: 20px;
}

.gallery-left-sub_l {
  width: 42.5%;
  height: 260px;
}

.gallery-left-sub_r {
  width: 52.5%;
  height: 260px;
}

.gallery-left-sub_r2 {
  width: 100%;
  height: 120px;
}

.gallery-middle {
  width: 25%;
  height: 560px;
}

.gallery-right-sub_l {
  width: 52.5%;
  height: 260px;
}

.gallery-right-sub_r {
  width: 42.5%;
  height: 260px;
}

.gallery-item {
  overflow: hidden;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.gallery__img {
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.gallery__img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.form {
  position: relative;
}

.form-photo {
  width: 50%;
  height: 640px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  overflow: hidden;
}

.form-photo__png {
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.form-photo__png:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  background-color: #EDEDED;
}

.footer-list {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list:last-child {
  margin-bottom: 0;
}

.footer-list:hover path {
  fill: #FFC700;
}

.footer-list__link, .footer-list span {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  margin-left: 5px;
}

.footer-list__link:hover, .footer-list span:hover {
  color: #FFC700;
}

.footer__email {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  cursor: pointer;
}

.footer__email:hover {
  color: #FFC700;
}

.footer__email:hover path {
  fill: #FFC700;
}

.mobile_show {
  display: none;
}

.big-photo {
  height: 100vh;
  z-index: 999;
  display: none;
}

.big-photo-item {
  width: 90%;
  height: 90%;
}

.big-photo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.big-photo .close__photo {
  position: absolute;
  bottom: 20px;
  right: 25px;
  padding: 5px 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: tomato;
  color: #fff;
}

.big-photo .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: -1;
}

@media (max-width: 992px) {
  .description-info {
    width: 100%;
  }
  .description-cards {
    width: 100%;
  }
  .costs .description-card {
    min-width: 120px !important;
  }
  .information {
    display: none;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .container {
    padding: 0 70px;
  }
  .header {
    height: 100vh;
  }
  .header .nav-item {
    visibility: hidden;
  }
  .header .nav .menu_burger {
    display: block;
  }
  .header-item__title {
    font-size: 36px;
  }
  .description-info {
    width: 100%;
  }
  .description .tab_card {
    margin-top: 75px;
  }
  .costs .tab_card {
    margin-bottom: 70px !important;
  }
  .gallery-imgs {
    margin: 90px auto;
    max-width: 1350px;
  }
  .gallery-left {
    width: 48.5%;
  }
  .gallery-middle {
    width: 48.5%;
  }
  .tab_hidden {
    display: none;
  }
  .mobile_show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .title__text {
    font-size: 22px;
  }
  .header .menu-bg-modal {
    width: 75%;
    padding-right: 25px;
  }
  .description-cards {
    margin-top: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .calendar .container {
    padding: 0;
  }
  .calendar-item {
    padding: 15px 5px;
  }
  .calendar-photo {
    width: 80%;
  }
  .calendar__title {
    text-align: center;
  }
  .calendar .fc-title {
    font-size: 8px !important;
  }
  .gallery-imgs {
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .gallery-left {
    width: 48.5%;
  }
  .gallery-middle {
    width: 48.5%;
    height: 400px;
  }
  .gallery-right-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-right-sub_l, .gallery-right-sub_r {
    width: 100%;
    height: 195px;
  }
  .gallery-right-sub_r {
    margin-top: 10px;
  }
  .gallery-mob {
    padding: 0 10px;
  }
  .gallery-mob-sub {
    height: 260px;
  }
  .mob_hidden {
    display: none;
  }
  .form {
    margin-top: 100px;
  }
  .form-photo {
    width: 100%;
    height: 340px;
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  .footer-list {
    font-size: 12px;
  }
  .footer-list__link {
    font-size: 12px;
  }
  .footer__email {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .header-item__sub {
    font-size: 22px;
  }
  .header-item__title {
    font-size: 30px;
  }
  .header-item__btn {
    width: 250px;
  }
  .header .menu-bg-modal {
    width: 100%;
  }
  .calendar .fc-title {
    font-size: 6px !important;
  }
}
